service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{doc} { allow read: if true; }
    match /orders/{doc}   { allow create: if true; }
  }
}